.cursor-follower {
    position: fixed;
    width: .8cm;
    height: .8cm;
    background-color: rgba(212, 212, 212, 0.644);
    border-radius: 50%;
    pointer-events: none;
    transition: left 0.2s ease, top 0.2s ease;
  }
  